
.container {
    margin-top: 20px;
}

.three-column {
    padding-bottom: 30px;
    padding-top: 70px;
}

.single-column {
    padding-bottom: 30px;
    padding-top: 70px;
}

body, h1, h2, h3, h4, h5, h6 {
    /*background-color: #2F2F2F;*/
    font-family: "Oxygen", Helvetica, Arial, sans-serif;
}

a:active, a:hover {
    outline: 0 none;
}

:focus, *:hover, *:active {
    outline: medium none;
}

.selecter {
    max-width: 100%;
}

/*.form-group label {
    max-width: 100%;
    width: 100%;
}*/

.form-group label * {
    font-weight: normal;
}

.form-group {
    margin-bottom: 0;
}

.form-group .options * {
    font-weight: normal;
}

form, .form-control {
    font-size: 13px;
}

.radio, .checkbox {
    margin-bottom: 5px;
    margin-top: 5px;
}

form label {
    margin-bottom: 0;
    margin-top: 3px;
}

select.form-control {
    width: auto;
}