
extend ../../views/layout

block content
    form(action='/signup', method='post')
        p: input(type='text', placeholder='Username')
        p: input(type='password', placeholder='Password')
        p: input(type='submit', placeholder='Login')
        p: input(type='submit', placeholder='Cancel')