




.user-login .row .form-control {
    margin-bottom: 15px;
}

.user-register .row .form-control {
    margin-bottom: 15px;
}

.auto-sort .btn {
    margin-left: 10px;
    margin-bottom: 20px;
}

.auto-thumbline {
    margin-bottom: 20px;
}
.three-column {
    padding-bottom: 30px;
    padding-top: 70px;
}

.single-column {
    padding-bottom: 30px;
    padding-top: 70px;
}