/*
.col-md-1 {
    background-color: #FFC0CB;
}

.col-md-2 {
    background-color: #FF1493;
}

.col-md-3 {
    background-color: #DC143C;
}

.col-md-4 {
    background-color: #FF0000;
}

.col-md-5 {
    background-color: #FFA500;
}

.col-md-6 {
    background-color: #BDB76B;
}

.col-md-7 {
    background-color: #8B4513;
}

.col-md-8 {
    background-color: #6B8E23;
}

.col-md-9 {
    background-color: #4169E1;
}

.col-md-10 {
    background-color: #696969;
}

.col-md-11 {
    background-color: #696969;
}

.col-md-12 {
    background-color: #696969;
}*/

body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.left .thumbnail {
    margin-bottom: 20px;
}